*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: url(../img/tapet_2019-10-24_17-42-15_691_2960x2960.png);
  background-attachment: fixed;
  background-position: center;
}

.my_style-col{
 border : 1px black solid;
 box-shadow: 5px 5px 10px 2px #333333;
 border-radius: 10px;
}

h1{
  text-transform: uppercase;
}

h2{
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
	background: linear-gradient(to right,#00bde3  0%,#E79351 50%, #000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#stampaCicloDoWhile span{
  border : 1px solid black;
}

#stampaCicloDoWhile span:nth-child(5n):hover{
  background:green;
  color:white;
}
#stampaCicloDoWhile span:nth-child(3n):hover{
  background:blue;
  color:white;
}

#stampaCicloDoWhile span:nth-child(15n):hover{
 background:red;
 color:white;
}



#stampaCicloFor,
#stampaCicloWhile,
#stampaCicloDoWhile{
  font-size: 1.3rem;
  color:black;
  font-weight: bold;
}

footer{
  background: rgba(26, 25, 22, 0.8);
  border-radius: 10px;
}
